.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    
}
.card{
    margin-left: 5%;
    background-color: rgb(202, 202, 233);
    border-radius: 15px;
    width: 150px;
    text-align: center;
}
h1{
    text-align: center;
    color: gray;
}

.title{
    text-align: center;
    color: rgb(0, 68, 255);
}

.color-div{
    width: 150px;
    height: 150px;
   
   
}

.color-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}

.todo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin: 1rem auto;
    text-align: center;
    border: 1px solid #c1c1c1;
    padding: 10px;
    
}
.todo-container h5{
    margin-right: 3rem;
}